*,
*::before,
*::after {
    box-sizing: border-box;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: #1b414b;
    background-color: #0e1823;;
    line-height: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.container {
    max-width: 1340px;    
    margin-left: auto;
    margin-right: auto;
}
/* #region header */

.header-page {
    padding-top: 32px;
}

header .container {
    display: flex;
    width: 1240px;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;

    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    
}

.header-nav {
    
    display: flex;
    align-items: center;
}

.header-logo {
    width: 74px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.header-nav-list {
    display: flex;
    gap: 4px;
    width: 281px;
}

.heder-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);    
}

.nav-link {
    display: block;
    font-weight: 400;
    font-size: 9px; 
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.header-social {
    display: flex;
    gap: 8px;
}
/* #endregion header */

/* #region hero */


.hero-section {
    padding-top: 155px;
    padding-bottom: 180px;    
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {    
    font-weight: 500;
    font-size: 80px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;

    max-width: 1001px;
    margin-right: auto;
    margin-left: auto;
}

.hero-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #fbfbfb;

    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 597px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    border-radius: 15px;
    width: 179px;
    height: 52px;
    background: #1b414b;
    border:none;

    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}
/* #endregion hero */

/* #region about */
.about  {
    /* max-width: 1340px; */
    margin: 0 auto;
    padding-bottom: 132px;
}

.container-hz {
    background-color: #fbfbfb;
    border-radius: 24px;
    width: 1340px;


}

.about-text-section {
    display: flex;
    padding: 50px 50px 100px 50px;
    justify-content: space-between;
    gap: 299px;
    
}

.about-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    min-width: 537px;
    
}

.about-text-container {
    display: flex;
    min-width: 404px;
    gap: 20px;
    flex-direction: column;
}

.about-text-strong {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.about-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}
/* #endregion about */

/* #region yachts catalog */

.yacht-catalog {
    padding-top: 150px;
    padding-bottom: 150px;
}

.yacht-catalog-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    text-align: center;
    max-width: 714px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
}

.yacht-card {
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.yacht-card-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
}

.yacht-card-list-item {
    background-color: #FFFFFF;
    padding: 16px 16px 16px 16px;
    border-radius: 32px;
}

.yacht-catalog-photo {
    border-radius: 24px;
    
}
.yacht-card-title-container {
    display: flex;
    justify-content: space-between;
    margin: 32px 16px 16px 16px;
    align-items: center;
}
.yacht-card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yacht-card_type {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
    white-space: nowrap;
}
.yacht-catalog-line {
    stroke-width: 1px;
    stroke: rgba(4, 3, 6, 0.1);
    margin: 0 16px;
}

.yacht-card-info {
    padding: 16px 16px 0 16px;
}
.yacht-card-info-item {
    display: flex;
    justify-content: space-between;
    
}
.yacht-card-info-item {
    padding-bottom: 6px;
}
.yacht-card-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.yacht-card-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.yacht-catalog-button {
    font-family: "Inter", sans-serif;
    border-radius: 15px;
    width: 179px;
    height: 52px;
    background-color: transparent;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: block;
    border: 1px solid rgba(251, 251, 251, 0.35);
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    cursor: pointer;
    margin: 0 auto;
    
}
/* #endregion yachts catalog */

/* #region benefits */
.benefits-section {
    padding-bottom: 150px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}
.benefits-list-container {
    max-width: 768px;
    padding: 90px 50px;
    background-color: #1b414b;
    border-radius: 24px;  
    height: 424px;  
}
.benefits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 318px 318px;
    gap: 32px 44px;
}
.benefits-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.benefits-number {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
}
.benefits-item-line {
    border-radius: 18px;
    width: 318px;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
    opacity: 0.4;
}
.benefits-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.4;
}
.benefits-photo {
    border-radius: 24px;
    width: 540px;
    height: 424px;
}

/* #endregion benefits */

/* #region form-rent */
.form-section-container {
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
.form-section-photo {
    border-radius: 24px;
    width: 768px;
    height: 536px;
}
.form-section-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 50px;
}
.form-label {
    /* display: flex;
    position: relative; */
    margin-bottom: 18px;
}
.form-input {
    width: 100%;
    height: 54px;
    outline: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(251, 251, 251, 0.4);
    
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-comment {
    display: block;
    width: 100%;
    height: 116px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(251, 251, 251, 0.4);
    padding: 18px;
    resize: none;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* #endregion form-rent */