*,
*::before,
*::after {
    box-sizing: border-box;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: #1b414b;
    background-color: #0e1823;;
    line-height: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.container {
    max-width: 1240px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* #region header */

.header-page {
    padding-top: 32px;
}

header .container {
    display: flex;
    width: 1240px;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;

    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    
}

.header-nav {
    
    display: flex;
    align-items: center;
}

.header-logo {
    width: 74px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
   
}

.header-nav-list {
    display: flex;
    gap: 4px;
    width: 281px;
}

.heder-nav-item {
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    font-weight: 400;
    font-size: 9px;        
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.nav-link {
    display: block;
    font-weight: 400;
    font-size: 9px; 
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.header-social {
    display: flex;
    gap: 8px;
}

.header-social-link {} 
/* #endregion header */