*,
*::before,
*::after {
    box-sizing: border-box;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: #1b414b;
    background-color: #0e1823;;
    line-height: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.container {
    max-width: 1240px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* #region header */

.header-page {
    padding-top: 32px;
}

header .container {
    display: flex;
    width: 1240px;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;

    background-color: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    
}

.header-nav {
    
    display: flex;
    align-items: center;
}

.header-logo {
    width: 74px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
   
}

.header-nav-list {
    display: flex;
    gap: 4px;
    width: 281px;
}

.heder-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);    
}

.nav-link {
    display: block;
    font-weight: 400;
    font-size: 9px; 
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
}

.header-social {
    display: flex;
    gap: 8px;
}
/* #endregion header */

/* #region hero */


.hero-section {
    padding-top: 155px;
    padding-bottom: 180px;    
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {    
    font-weight: 500;
    font-size: 80px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fbfbfb;

    max-width: 1001px;
    margin-right: auto;
    margin-left: auto;
}

.hero-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #fbfbfb;

    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 597px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    border-radius: 15px;
    width: 179px;
    height: 52px;
    background: #1b414b;

    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #fbfbfb;
}
/* #endregion hero */

/* #region about */
.about  {
    background-color: #FBFBFB;
    border-radius: 24px;
    margin: 0 50px; 
    max-width: 1340px;   
    margin: 0 auto;   
}

.about-text-section {
    display: flex;
    padding: 50px 50px 100px 50px;
    
    
}

.about-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #1b414b;
    margin-right: 299px;
    
}

.about-text-container {
    display: block;
    justify-content: end;
}

.about-text-strong {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
}
/* #endregion about */

/* #region yachts catalog */

.yacht-catalog {
    padding-top: 150px;
}

.yacht-catalog-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fbfbfb;
    text-align: center;
    max-width: 714px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
}

.yacht-card-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
}

.yacht-card-list-item {
    background-color: #FFFFFF;
    padding: 16px 16px 32px 16px;
    border-radius: 32px;
}

.yacht-catalog-photo {
    border-radius: 24px;
    margin-bottom: 32px;
}

.yacht-catalog-button {
    font-family: "Inter", sans-serif;
    border-radius: 15px;
    width: 179px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #fbfbfb;
}

.yacht-card {
    margin-bottom: 50px;
}
/* #endregion yachts catalog */
